.screen-1.container
  .screen-1__line
  .screen-1__box-1
    .screen-1__text.small-text.blue Welcome to Orcosa
    h1.screen-1__title.title-general Modernizing <span>the way</span> medicines are taken.
    .screen-1__description Orcosa is focused on improving patient outcomes through our next generation drug delivery technology, the RITe™ Platform.
  .screen-1__box-2
    .screen-1__img
      img(src="./assets/img/screen-1__img-1.png", alt="")
      .screen-1__img-cube
        img.lazyload(src="./assets/img/screen-1__bg.png", alt="")