.screen-5.container
  .screen-5__box-1
    .screen-5__bg.spread
      img.lazyload(src="./assets/img/screen-5__bg.png" alt="")
    .screen-5__box-2.df.fdc
      .screen-5__img-1.df.jcc
        img.lazyload(src="./assets/img/screen-5__img-1.png" alt="")
      .screen-5__name.small-text Our First Product Candidate: ORAVEXX™ (cannabidiol)
      .screen-5__description Introducing a non-addictive alternative to opioids for moderate to severe post-surgical pain.
      a.btn2.btn-center.spread-before.spread-after(href="#") 
        span Learn about ORAVEXX™