.screen-3.container
  .screen-3__box-1
    .screen-3__img-1.spread
      img.lazyload(src="./assets/img/screen-3__img-1.png" alt="")
    .screen-3__bg
      img.lazyload(src="./assets/img/screen-3__bg.png" alt="")
    .screen-3__text <span>RITe™ tablets dissolve in less than 3 seconds,</span> rapidly infusing an active ingredient into the bloodstream through the tissue in your mouth.