.screen-6.container
  .screen-6__box-1
    .screen-6__img
      img(src="./assets/img/screen-6__img-1.png", alt="")
      .screen-6__img-cube
        img.lazyload(src="./assets/img/screen-1__bg.png", alt="")
  .screen-6__box-2
    .screen-6__text.small-text.blue Proprietary Manufacturing
    h2.screen-6__title.title All RITe™ products are manufactured at our state of the art cGMP-compliant facility in New Jersey. 
    .screen-6__description Orcosa exclusively controls all applications of the  RITe™ Platform. Our facility includes custom manufacturing machinery enabling seamless scaled manufacturing.
    a.btn1.spread-before.spread-after(src="#")
      span Learn more