.screen-2.container
  .screen-2__box-1
    .screen-2__img
      img(src="./assets/img/screen-2__img-1.png", alt="")
      // after - тень
  .screen-2__box-2
    .screen-2__name.small-text.blue Rapid Infusion Technology™ (RITe) Platform
    .screen-2__text.title With extremely rapid disintegration time, enhanced absorption profiles, and advanced flavor masking capabilities, the RITe™ Platform is a versatile technology that can enable a wide range of active ingredients to work quickly and efficiently in the body.
    a.btn1.spread-before.spread-after(src="#")
      span Explore our platform