.screen-7.container
  .screen-7__box-1
    .screen-7__text.small-text.blue Research
    h2.screen-7__title.title Headline here about research lorem ipsum dolor sit amet, consectetur adipiscing elit.
    .screen-7__description Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi.
  .screen-7__box-2.grid.lg4.md4.sm2.xs1
    .screen-7__item
      img.lazyload(src="./assets/img/1-icon-7.svg", alt="")
    .screen-7__item
      img.lazyload(src="./assets/img/2-icon-7.svg", alt="")
    .screen-7__item
      img.lazyload(src="./assets/img/3-icon-7.svg", alt="")
    .screen-7__item
      img.lazyload(src="./assets/img/4-icon-7.svg", alt="")