.screen-4.container
  .screen-4__box-1.grid.lg4.md4.sm2.xs1
    .screen-4__item
      .screen-4__item-img
        img.lazyload(src="./assets/img/1-icon-4.svg", alt="")
      .screen-4__item-text
        .screen-4__item-title Easy to take
        .screen-4__item-description RITe™ tablets disintegrate rapidly, without the need for water
    .screen-4__item
      .screen-4__item-img
        img.lazyload(src="./assets/img/2-icon-4.svg", alt="")
      .screen-4__item-text
        .screen-4__item-title Fast action
        .screen-4__item-description Effects are felt in minutes
      .screen-4__item
    .screen-4__item
      .screen-4__item-img
        img.lazyload(src="./assets/img/3-icon-4.svg", alt="")
      .screen-4__item-text
        .screen-4__item-title Enhanced bioavailability
        .screen-4__item-description Lower dose still achieves desired effects while reducing unwanted side effects
    .screen-4__item
      .screen-4__item-img
        img.lazyload(src="./assets/img/4-icon-4.svg", alt="")
      .screen-4__item-text
        .screen-4__item-title Durable, portable, and highly stable
        .screen-4__item-description RITe™ tablets are compact, lightweight, and not sensitive to storage conditions
  a.btn1.btn-center.spread-before.spread-after(href="#") 
    span See all benefits
