.screen-8.container
  h2.screen-8__title.title In the News
  .screen-8__box-1.grid.lg4.md4.sm2.xs1
    .screen-8__item
      .screen-8__item-title Title of Post Here Lorem Ipsum Dolor Sit Amet
      .screen-8__item-text Brief excerpt here sed ut pers piciatis unde omnis iste natus error sit voluptatem acc.
    .screen-8__item
      .screen-8__item-title Title of Post Here Lorem Ipsum Dolor Sit Amet
      .screen-8__item-text Brief excerpt here sed ut pers piciatis unde omnis iste natus error sit voluptatem acc.
    .screen-8__item
      .screen-8__item-title Title of Post Here Lorem Ipsum Dolor Sit Amet
      .screen-8__item-text Brief excerpt here sed ut pers piciatis unde omnis iste natus error sit voluptatem acc.
    .screen-8__item
      .screen-8__item-title Title of Post Here Lorem Ipsum Dolor Sit Amet
      .screen-8__item-text Brief excerpt here sed ut pers piciatis unde omnis iste natus error sit voluptatem acc.
  a.btn1.btn-center.spread-before.spread-after(href="#") 
    span View all