footer.footer
  .container
    .footer__row.footer__row_1
      ul.footer-menu
        li.menu__item
          a(href="#") Technology
        li.menu__item
          a(href="#") Research
        li.menu__item
          a(href="#") Company
        li.menu__item
          a(href="#") News
        li.menu__item
          a(href="#") Careers
      a.footer-logo(href="#")
        img(src="./assets/img/logo-footer.svg")
    .footer__row.footer__row_2
      .footer__copyright © 2022 Orcosa. All rights reserved.
      .footer__links
        a(href="#").footer__link Privacy policy
        a(href="#").footer__link Accessability Statement
        a(href="#").footer__link
          img(src="./assets/img/linkedin.svg", alt="")