.notice
	.container
		.notice__text Optional annoucement here lorem ipsum dolor sit amet, consectetur adipiscing elit sed >
		.notice__close
			img(src='./assets/img/close.svg', alt='')
header.header
	.header-container.container
		.header__left
			a.header-logo(href="home.html")
				img(src="./assets/img/logo.svg" alt="Orcosa")
			ul.menu
				li.menu__item
					a(href="#") Technology

				li.menu__item
					a(href="#") Research
					
				li.menu__item
					a(href="#") Company
					
				li.menu__item
					a(href="#") News
					
				li.menu__item
					a(href="#") Careers

		.header__right
			a(href="#").btn3.spread-before.spread-after 
				span Contact
		.header__menu.e_menu
			div


