.overlay.hidden.menu#menu
	.overflow
		.menu__box.overflow__box
			.overflow__box_close.e_menu_close
			.menu-nav
				img(src="https://gotostar.ru/wp-content/uploads/2019/06/logo240.png" srcset="https://gotostar.ru/wp-content/uploads/2019/06/logo240.png 1x, https://gotostar.ru/wp-content/uploads/2019/06/loro-ret.png 2x" width="240" height="30" style="max-height:30px;height:auto;" alt="Go to star Logo" retina_logo_url="https://gotostar.ru/wp-content/uploads/2019/06/loro-ret.png").menu-nav__logo
				a(href="we.html").menu-nav__item Мы
				a(href="individual.html").menu-nav__item Индивидуальные туры
				a(href="business.html").menu-nav__item Для бизнеса
				a(href="travels.html").menu-nav__item Путешествия
				ul.menu-nav-sub(role="menu")
					li.menu-nav-sub__item
						a.menu-nav-sub__link(href="season.html") Сезоны
					li.menu-nav-sub__item
						a.menu-nav-sub__link(href="reason.html") Поводы
				a(title="popup-first-visit").header-popup.e_plan.e_menu_close
					.header-popup_text План путешествий
					.header-popup_icon
				a(href="form.html").header-button.btn-def Оставить заявку
				a(href="#").menu-nav__lang Eng

