<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>

  include components/_head

</head>
<body>

  .wrapper

    include components/_header

    section.section
      include content/home-screen-1
    section.section
      include content/home-screen-2
    section.section
      include content/home-screen-3
    section.section
      include content/home-screen-4
    section.section
      include content/home-screen-5
    section.section
      include content/home-screen-6
    section.section
      include content/home-screen-7
    section.section
      include content/home-screen-8

    include components/_footer

    include components/_scripts

</body>
</html>